In [1]:
import pandas as pd
import requests

In [2]:
header = {
  "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
  "X-Requested-With": "XMLHttpRequest"
}


r = requests.get("https://www.urionlinejudge.com.br/judge/pt/problems/all?page=1", headers=header)
dataframes = pd.read_html(r.text)
df = pd.DataFrame([], columns=dataframes[0].columns)

In [3]:

for i in range(1, 81):
    url = "https://www.urionlinejudge.com.br/judge/pt/problems/all?page={}".format(i)
    r = requests.get(url, headers=header)
    dataframes = pd.read_html(r.text)
    df = df.append(dataframes[0])

In [4]:
df.Categoria.value_counts()

Ad-Hoc                      665
Iniciante                   285
Matemática                  231
Grafos                      229
Paradigmas                  191
Estruturas e Bibliotecas    151
Strings                     127
Geometria Computacional      73
SQL                          48
Name: Categoria, dtype: int64

In [5]:
df_out = df[["#", "Nome","Categoria"]]

In [6]:
df_out.head()

      #                 Nome  Categoria
0  1001  Extremamente Básico  Iniciante
1  1002      Área do Círculo  Iniciante
2  1003         Soma Simples  Iniciante
3  1004      Produto Simples  Iniciante
4  1005              Média 1  Iniciante

In [7]:
df_out.to_excel("uri_problems.xlsx", index=None, engine = 'openpyxl')

In [8]:
df_out.to_json(r'uri_problems.json', orient='split')